<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About | GreenClassify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class="page-wrapper">

        <!-- NAVBAR -->
        {% include 'navbar.html' %}

        <!-- MAIN CONTENT -->
        <main class="content">
            <section>
                <div class="container">
                    <h2 class="text-center">About GreenClassify</h2>
                    <p>
                        GreenClassify is a cutting-edge AI-based platform designed to recognize and classify a wide variety of fruits and vegetables with remarkable accuracy. Leveraging the power of deep learning and computer vision, GreenClassify empowers users—from everyday
                        consumers to agricultural professionals—with instant insights about the produce they interact with.
                    </p>
                    <div class="img-gallery">

                        <img src="{{ url_for('static', filename='images/download2.jpg') }}" alt="Vegetables">
                        <img src="{{ url_for('static', filename='images/download 3.jpg') }}" alt="Fresh Produce">
                        <img src="{{ url_for('static', filename='images/4.jpg') }}" alt="Fresh Produce">
                    </div>
                </div>
            </section>
        </main>

        <!-- FOOTER -->
        {% include 'footer.html' %}

    </div>
</body>

</html>