<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About | GreenClassify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class="page-wrapper">

        <!-- NAVBAR -->
        {% include 'navbar.html' %}

        <!-- MAIN CONTENT -->
        <main class="content">
            <section>
                <div class="container">
                    <h2 class="text-center">About GreenClassify</h2>
                    <p>
                        GreenClassify is an AI-based platform that utilizes deep learning models to accurately recognize and classify various fruits and vegetables.
                    </p>
                    <div class="img-gallery">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Culinary_fruits_front_view.jpg" alt="Fruits">
                        <img src="{{ url_for('static', filename='images/download.jpg') }}" alt="Vegetables">
                        <img src="{{ url_for('static', filename='images/download1.jpg') }}" alt="Fresh Produce">
                    </div>
                </div>
            </section>
        </main>

        <!-- FOOTER -->
        {% include 'footer.html' %}

    </div>
</body>

</html>